body {
    padding: 5px;
    color: black;
    font-family: Open Sans;
    font-size: 19px;
    margin: 0px auto 0px auto;
    min-width: 300px;
    max-width: 800px;
}

ul {
    list-style-type: circle;
}

div#home-posts-container ul {
    font-size: 20px;
}

div#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo {
    width: 100px;
}
 
div#logo img {
    width: 100px;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-family: Libre Franklin;
    font-size: 19px;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.gist {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto Mono;
}

div#content p {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: Justify;
    color: #3b3b3b;
}

div#content h1 {
    font-family: Sanchez;
    color: #147294;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}


div#content h1#home {
    font-family: Roboto Mono;
    color: #147294;
    font-weight: normal;
    font-size: 40px;
}

div#content h2 {
    font-family: Sanchez;
    color: #147294;
    font-weight: normal;
    font-size: 30px;
}

div#content h3 {
    border-left: 5px solid lightblue;
    padding-left: 10px;
    font-family: Sanchez;
    color: Black;
    font-weight: normal;
    font-size: 22px;
}

div#content p.home-p {
    font-size: 28px;
    font-family: Sanchez;
}

div#content code {
    color: #105a75;
}

div#resume {
    margin-top: 20px;
}

#resume-href {
    color:#105a75 !important;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    text-align: center;
}
