@font-face {
    font-family: Mission Gothic;
    letter-spacing: 1px;
    src: url(static("blog/font/MissionGothicRegular.otf")) format("opentype");
}

@font-face {
    font-family: Mission Gothic;
    font-weight: bold;
    src: url(static("blog/font/MissionGothicBold.otf")) format("opentype");
}